<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/home.css">      
    <title>Startup Funding Management</title>
    
  </head>
  <body>
    <header>
    
        <div class="search-container">
          
            <input type="text" placeholder="Search startups..." name="search">
            <button type="submit">Search</button>
          
        </div>
        <div class="login-container">
          <button id="login">Login</a>
        </div>
      
    </header>
    
    <main>
      <section class="startup-card-container">
        <div class="startup-card">
          <img src="startup1-logo.png" alt="Startup 1 logo">
          <h2>Startup 1</h2>
          <p>Description of startup 1 and its funding status.</p>
        </div>
        <div class="startup-card">
          <img src="startup2-logo.png" alt="Startup 2 logo">
          <h2>Startup 2</h2>
          <p>Description of startup 2 and its funding status.</p>
        </div>
        <div class="startup-card">
          <img src="startup3-logo.png" alt="Startup 3 logo">
          <h2>Startup 3</h2>
          <p>Description of startup 3 and its funding status.</p>
        </div>
      </section>
    </main>
    <script type="module" src="js/login.js"></script>
  </body>
</html>
